.user-list-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.user-list-container {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.user-list-header, .user-list-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.user-list-header {
    font-weight: bold;
    background-color: #f7f7f7;
    border-bottom: 2px solid #ccc;
}

.user-list-checkbox {
    width: 5%;
    text-align: center;
}

.user-list-name {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.user-list-address {
    width: 35%;
}

.user-list-date {
    width: 15%;
    text-align: right;
    color: #666;
}

/*Block button*/
.btn-block {
    padding: 10px 20px;
    background-color: #8d78f3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    float: right;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 680px;
}

.btn-block:hover {
    background-color: #6850df;
}
