.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.text-input,
.textarea-input,
.file-input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.textarea-input {
    resize: vertical;
}

button.btn {
    position: relative;
    left: 50%;
    bottom: -30px;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #8d78f3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

button.btn:hover {
    opacity: 0.9;
    background-color: #6850df;
}
