input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.btn {
    width: 100%;
    padding: 10px;
    background-color: #8d78f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
}
.btn:hover {
    background-color: #6850df;
}

.message {
    margin-top: 20px;
    color: #8d78f3;
    display: none;
}

/*logo*/
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
