.password-container {
    text-align: center;
    justify-content: center; /*align center in container*/
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /*including padding*/
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #8d78f3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #6850df;
}
