/*Product list*/
.product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.product img {
    width: 30%;
    height: auto;
    margin-left: 60px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.details h2 {
    margin-top: 65px;
    margin-bottom: 20px;
    font-size: 24px;
}

.details .order-date {
    font-size: 20px;
    margin-bottom: 15px;
    color: #575757;
}

/*shop*/
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
}

.product-card {
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;

    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    color: #6a54d6;
}

/*select quantity*/
.quantity-delete {
    display: flex;
    gap: 10px;
    align-items: center;
}

.quantity-input {
    width: 150px;
    padding: 5px;
}

/*Add new - File upload*/
.upload-container {
    position: relative;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 10px;
}

.upload-container label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-icon {
    font-size: 70px;
    color: #888;
}

.upload-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

/*Add, Edit - Post form*/
.form-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-content: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label,
.quantity label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

.quantity {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.quantity-input {
    width: 100%;
    padding: 5px;
}

/*mypg - delete*/
.quantity-delete {
    display: flex;
    gap: 10px;
    align-items: center;
}

.quantity-input {
    width: 150px;
    padding: 5px;
}

/*Buttons*/
/*Admin - Manage, Delete*/
.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

}

.buttons button {
    padding: 10px;
    border: none;
    background-color: #8d78f3;
    color: white;
    cursor: pointer;
    flex: 1;
    font-size: 16px;
    border-radius: 5px;
}

/*Admin - Add new*/
.btn-write {
    margin-top: 20px;
    right: 150px;
    padding: 10px 20px;
    background-color: #8d78f3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.btn-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #8d78f3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin: auto;
}

/*mypg - delete*/
.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #8d78f3;
    color: white;
    cursor: pointer;
}

.btn.delete-btn {
    background-color: #8d78f3;
    width: 150px;
}

/*hover*/
.btn,
.btn-submit:hover,
.buttons button:hover,
.btn-write:hover {
    background-color: #6850df;
}