<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle ☠️ Notice 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/bbs-postform.css}" rel="stylesheet" />

</head>

<body>
<div th:replace="~{fragments/header-admin::Header}" ></div>

<div class="container">
  <h1>💡 Notice</h1>
  <!-- title -->
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="text-input" placeholder="Enter the title">
  </div>

  <!-- content -->
  <div class="form-group">
    <label for="content">Content</label>
    <textarea id="content" class="textarea-input" rows="10" placeholder="Write your content here..."></textarea>
  </div>

  <!-- file upload -->
  <div class="form-group">
    <input type="file" id="file" class="file-input">
  </div>

  <!-- button -->
  <div class="form-group">
    <button class="btn" onclick="submitPost()">Submit</button>
  </div>
</div>

<script>
  function submitPost() {
    if (confirm('Confirm submit?')) {
      alert('New notice updated!');
      window.location.href = "admin-ntc-list.html";
    }
  }
</script>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>