<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle 🏰 QnA 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/bbs-list.css}" rel="stylesheet" />
    <link th:href="@{css/header.css}" rel="stylesheet" />

</head>
<body>
<div th:replace="~{fragments/header::Header}" ></div>
<form th:action="@{/api/qna/mypg-qna-new}" method="get">
    
<div class="board-container">
    <a th:href="@{/mypg-qna-new}" class="btn-write">Write</a>
    <div class="board-header">
        <div class="board-number">No</div>
        <div class="board-title">Title</div>
        <div class="board-date">Date</div>
    </div>

    <div th:each="qna, iterStat : ${qnaList}" class="board-item">
        <div class="board-number" th:text="${iterStat.index + 1}"></div>
        <div class="board-title">
            <a th:href="@{/mypg-qna-{id}(id=${qna.id})}" th:text="${qna.title}"></a>
        </div>
        <div class="board-date" th:text="${#dates.format(qna.createdAt, 'dd-MM-yyyy')}"></div>
    </div>
</div>
</form>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>
