<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle 🏰 Orders 🐑</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, sans-serif;
        background-color: #d5d4ff;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      footer {
        text-align: center;
        margin-top: 100px;
      }

      h1 {
        color: white;
      }
    </style>
</head>
<body>
<h1>Coming Soon... 🐣</h1>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>