<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle ☠️ Admin 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/nav.css}" rel="stylesheet" />
</head>

<body>

<div class="container">
    <div class="nav-links-2">
        <a th:href="@{/admin-users}"><button>Users</button></a>
        <a th:href="@{/admin-pd-list}"><button>Products</button></a>
        <a th:href="@{/admin-ntc-list}"><button>Notice</button></a>
        <a th:href="@{/shh}"><button>Hidden Shop</button></a>
  </div>
</div>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>