<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle 🏰 Reset PW 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/findpw.css}" rel="stylesheet" />

</head>

<body>
<div th:replace="~{fragments/header-new::Header}" ></div>

<div class="container">
  <h1>Don't forget password, you idiot! 🤪</h1>
  <form id="emailForm">
    <input type="email" id="email" name="email" placeholder="Enter your email address." required>
    <button type="submit" class="btn">Verify</button>
  </form>
  <p class="message" id="message">A verification e-mail has been sent.</p>
</div>

<script>
  document.getElementById('emailForm').addEventListener('submit', function(event)) {
    event.preventDefault();
    const email = document.getElementById('email').value;
    if (email) {
      document.getElementById('message').style.display = 'block';
    }
  });
</script>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>