<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle 🏰 Home 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/products.css}" rel="stylesheet" />
    <link th:href="@{css/details.css}" rel="stylesheet" />
    <link th:href="@{css/header.css}" rel="stylesheet" />
</head>

<body>
<div th:replace="~{fragments/header::Header}" ></div>

<div class="container">
    <h1>🐑 Welcome, You Little Lamb 🐑</h1>
    <p th:if="${user != null}">
        Welcome, you little <span th:text="${user.username}">user</span> lamb 🐑
        You are a <span th:text="${user.role}">role</span>!
    </p>
    <img th:src="@{img/main.jpg}" width="600" />
</div>

<div class="container">
    <h2>Notice</h2>
    <h3>👇🏻👇🏻👇🏻 MUST READ Notice before you start 🐑 Lamb Castle 🐑 👇🏻👇🏻👇🏻</h3>
        <h2><a th:href="@{/ntc-01}">Welcome to Lamb Castle!</a></h2>
</div>

<div class="container">
    <h2>Products</h2>
    <div class="product-grid">
    <div class="product-card">
        <a th:href="@{/kingduck}"></a>
            <img th:src="@{img/pimg01.png}" alt="Product Image 1" /></a>
        <div class="product-name">King Duck 🦆</div>
        <div class="product-price"><h2>$999,000</h2></div>
    </div>

    <div class="product-card">
        <a th:href="@{/motherduck}">
            <img th:src="@{img/pimg02.png}" alt="Product Image 2" /></a>
        <div class="product-name">Mother Duck</div>
        <div class="product-price"><h2>$68,000</h2></div>
    </div>

    <div class="product-card">
        <a th:href="@{/goback}">
            <img th:src="@{img/pimg03.png}" alt="Product Image 3" /></a>
        <div class="product-name">Go Back Home Duck</div>
        <div class="product-price"><h2>$88,000</h2></div>
    </div>

    <div class="product-card">
        <a th:href="@{/muscle}">
            <img th:src="@{img/pimg04.png}" alt="Product Image 4" /></a>
        <div class="product-name">Muscle Duck 💪🏻</div>
        <div class="product-price"><h2>$150,000</h2></div>
    </div>
    </div>
</div>

<div class="container">
    <h2>Donate here...</h2>
    <h3><br>🐑 KB Bank 19770204055904 <b>Cutie Lamb</b> 🐑</h3>
    <h3>Minimum $18,000</h3>
    <img th:src="@{img/donate.jpg}" width="500" />
</div>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>
