<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle 🏰 My Page 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/mypg.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{fragments/header::Header}" ></div>

    <div class="container">
        <h2>Your Password</h2>
        <div class="password-container">
            <input type="password" placeholder="Password">
            <input type="submit" value="Go!" class="btn" onclick="showAlert()"></div>
        </div>
    </div>

<script>
    function showAlert() {
        if (confirm('Verified you are not a hacker.')) {
            window.location.href = "mypg-nav.html";
        }
    }
</script>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>