<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle 🏰 My Page 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/signup.css}" rel="stylesheet" />

</head>
<body>
<div th:replace="~{fragments/header::Header}" ></div>

<form th:action="~{/mypg-nav}">
  <div class="container">
    <table>
      <tr>
        <td><h2>Updating lamb identity... 🐑</h2></td>
      </tr>
      <tr><td>Username</td></tr>
      <tr><td><input type="text" class="text"></td></tr>
      <tr><td>Password</td></tr>
      <tr><td><input type="password" class="text"></td></tr>
      <tr><td>Confirm Password</td></tr>
      <tr><td><input type="password" class="text"></td></tr>
      <tr><td>E-mail</td></tr>
      <tr>
        <td>
          <div class="email-container">
            <input type="text" class="email"> @
            <select>
              <option>lamb.castle</option>
              <option>gmail.com</option>
            </select>
          </div>
        </td>
      </tr>
      <tr><td>DoB</td></tr>
      <tr><td>
        <input type="date" class="text"></td></tr>
      <tr><td>Address for your duck! 🦆</td></tr>
      <tr><td><input type="text" class="text"></td></tr>

      <tr><td>
        <div class="btn-container">
          <input type="submit" value="Update" class="btn" onclick="alert('Your identity has been updated.')">
        </div>
      </td></tr>
  </table>
  </div>
</form>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>