<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle 🏰 My Page 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/nav.css}" rel="stylesheet" />

</head>
<body>
<div th:replace="~{fragments/header::Header}" ></div>

<div class="container">
  <div class="nav-links-2">
    <a th:href="@{/mypg-update}"><button>Update</button></a>
    <a th:href="@{/mupg-orders}"><button>Orders</button></a>
    <a th:href="@{/mypg-cart}"><button>Cart</button></a>
    <a th:href="@{/mypg-qna}"><button>QnA</button></a>
  </div>
</div>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>