<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>🐑 Lamb Castle 🐑</title>
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/signin.css}" rel="stylesheet" />
</head>
<body>
<div th:replace="~{fragments/header-new::Header}" ></div>

<div class="container">
    <table>
        <div class="image-container">
        <img th:src="@{img/signin.jpg}" width="400" alt="Login Image" /><br>
        </div>
        <form th:action="@{/}" method="post">
            <tr>
                <td><input type="text" placeholder="Username"></td>
            </tr>
            <tr>
                <td><input type="password" placeholder=Password></td>
            </tr>
            <tr>
                <td><input type="checkbox">Save login info</td>
            </tr>
            <tr>
                <td><input type="submit" value="Sign in" class="btn" onclick="showAlert()"></td>
            </tr>
        </form>
        <tr>
            <td><class="options">
                <a th:href="@{/findpw}">Forgot Password?</a>
                <a th:href="@{/signup}">Sign Up</a></td>
        </tr>
    </table>
    <script>
        function showAlert() {
            if (confirm('Welcome, You little lamb!')) {
                window.location.href = "main.html";
            }
        }
    </script>
</div>

<div th:replace="~{fragments/footer::Footer}" ></div>
</body>
</html>